:root {
    --bg: white;
    --text-color: hsl(228, 12%, 44%);
    --text-title-color: hsl(0, 0%, 0%);
    --card-color: hsl(227, 47%, 96%);
    --text-color-card: hsl(230, 17%, 14%);
    --font-family: "Inter", sans-serif;

}
.dark{
    --bg: #090833;
    --text-title-color: hsl(0, 0%, 100%);
    --text-color:hsl(230, 22%, 74%);
    --card-color: hsl(228, 28%, 20%);
    --text-color-card: hsl(0, 100%, 100%)
}

body{
    background: var(--bg);
    font-size:25px;
    color: var(--text-color);
}
header{
    margin: 0;
    padding: 0;
}
#mode {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: var(--text-title-color);

}

#mode p{
    color: var(--text-color);
    font-family: var(--font-family), serif;
    font-weight: 700;
    font-size: 14px;
}
header h1{
    margin-right: 671px;
    font-family: var(--font-family), serif;
    font-weight: 700;
    height: 10px;
    font-size: 34px;
}
header h2{
    margin-left: 150px;
    font-family: var(--font-family), serif;
    font-weight: 700;
    height: 10px;
    font-size: 14px;
    margin-bottom: 30px;
}

.dashboard{
    display: flex;
    width: 80%;
    margin-left: 150px;
}
.card{
    background: var(--card-color);
    color: var(--text-color-card);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 16px;

}