:root {
    --bg: white;
    --text-color: hsl(228, 12%, 44%);
    --text-title-color: hsl(0, 0%, 0%);
    --card-color: hsl(227, 47%, 96%);
    --text-color-card: hsl(230, 17%, 14%);
    --font-family: "Inter", sans-serif;
    --hover: hsl(0, 0%, 80%);
    --snow: hsl(203, 38%, 52%);

}
.dark{
    --bg: #090833;
    --text-title-color: hsl(0, 0%, 100%);
    --text-color:hsl(230, 22%, 74%);
    --card-color: hsl(228, 28%, 20%);
    --text-color-card: hsl(0, 100%, 100%);
    --hover: hsl(230, 20%, 46%);
    --snow: hsl(0, 0%, 100%);
}

body{
    background: var(--bg);
    font-size:25px;
    color: var(--text-color);
}
header{
    margin: 0;
    padding: 0;
}
.switch{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    transform: translateY(15px);
}

.switch input{
    opacity:0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: gray;
    transition: 0.4s;
    border-radius: 34px;
}

.slider::before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}
input:checked + .slider {
    background: linear-gradient(
            to right,
            hsl(210, 79%, 56%),
            hsl(146, 68%, 55%)
    );
}

input:checked + .slider::before {
    transform: translateX(26px);
}

#mode {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 165px;
    color: var(--text-title-color);
}
.toggle{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 160px;
}
#mode p{
    color: var(--text-color);
    font-family: var(--font-family), serif;
    font-weight: 700;
    font-size: 14px;
    transform: translateY(15px);
}
header h1{

    font-family: var(--font-family), serif;
    font-weight: 700;
    height: 10px;
    font-size: 34px;
}
header h2{
    margin-left: 170px;
    font-family: var(--font-family), serif;
    font-weight: 700;
    height: 10px;
    font-size: 14px;
    margin-bottom: 30px;
}

.dashboard{
    display: flex;
    width: 80%;
    margin-left: 150px;
}
.card{
    background: var(--card-color);
    color: var(--text-color-card);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 16px;
    border-radius: 10px;
    height: 250px;

}
.card:hover{
    background: var(--hover);
}
.name {
    display: flex;
    color: var(--text-color);
    font-family: var(--font-family), serif;
    font-weight: 700;
    font-size: 14px;
    margin-top: 10px;
    gap: 10px;
}
.name img{
    width: 15px;
}
.number{
    color: var(--text-color-card);
    font-family: var(--font-family), serif;
    font-weight: 700;
    font-size: 35px;
    margin-top: 10px;
    height: 20px;
}
.title{
    color: var(--text-color);
    font-family: var(--font-family), serif;
    font-weight: 400;
    font-size: 20px;
    margin-top: 0;
}

.up{
    display: flex;
    gap: 10px;
    align-items: center;
    color: hsl(163, 72%, 41%);
    font-family: var(--font-family), serif;
    font-weight: 700;
    font-size: 14px;
    margin-top: 15px;

}
.up img{
    width: 10px;
    height: 7px;
}
.down{
    display: flex;
    gap: 10px;
    align-items: center;
    color: hsl(356, 69%, 56%);
    font-family: var(--font-family), serif;
    font-weight: 700;
    font-size: 14px;
    margin-top: 15px;
}
.down img{
     width: 10px;
     height: 7px;
 }

#card1{
    border-top: 5px solid hsl(208, 92%, 53%) ;
}
#card2{
    border-top: 5px solid hsl(203, 89%, 53%);
}

#card3 {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    padding-top: 5px;
}

#card3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;

    background: linear-gradient(
            to right,
            hsl(37, 97%, 70%),
            hsl(5, 77%, 71%),
            hsl(329, 70%, 58%)
    );
}
#card4{
    border-top: 5px solid hsl(348, 97%, 39%);
}
.overview h2{
    font-family: var(--font-family), serif;
    font-weight: 700;
    font-size: 34px;
    margin-top: 50px;
    margin-bottom: 10px;
    color: var(--text-color);
    margin-left: 165px;

}
.overview-card{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 150px;
}
.overview-box{
    width: 90%;
    height: 150px;
    background: var(--card-color);
    margin: 16px;
    border-radius: 10px;
}
.overview-box:hover{
    background: var(--hover);
}
.overview_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family), serif;
    font-weight: 700;
    font-size: 18px;
    margin: 15px 30px 0 15px;
    color: var(--text-color);

}
.overview_title img{
    width: 20px;
    height: 20px;
}
.overview_body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 30px 0 15px;
}

.numberO{
    color: var(--text-color-card);
    font-family: var(--font-family), serif;
    font-weight: 700;
    font-size: 35px;
    margin-top: 10px;
}
.update{
    display: flex;
    font-family: var(--font-family), serif;
    color: var(--text-color);
    font-weight: 700;
    font-size: 14px;
    margin-left: 165px;
}



.snowflake {
    position: fixed;
    top: -10px;
    color: var(--snow);
    font-size: 1rem;
    pointer-events: none;
    user-select: none;
    z-index: 9999;
    opacity: 0.9;
    filter: drop-shadow(0 0 5px white);
    animation: fall linear forwards;
}

@keyframes fall {
    to {
        transform: translateY(110vh) rotate(360deg);
        opacity: 0.3;
    }
}






@media screen and (max-width: 376px) {
     body{
         margin: 0;
         width: 100%;
         display: block;
     }
    #mode{
        margin: 0;
    }
    #mode h1 {
        font-size: 20px;
        margin-left:35px;
        text-align: left;
    }
    header h2{
        font-size: 15px;
        margin-left:35px;
        text-align: left;
    }
    .toggle{
        margin-left:35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin-right: 0;

    }






    .dashboard {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-left: 0;
    }

    .card {
        width: 80%;
        margin: 10px 0;
    }

    .overview-card {
        grid-template-columns: 1fr;
        margin-left: 0;
        width: 100%;
    }

    .overview-box {
        width: 80%;
        margin: 10px auto;
    }

    .overview h2 {
        font-size: 20px;
        margin-left: 35px;
        text-align: left;
    }


.update{
    display: flex;
    margin-left: 20px;
}
}



























